__pycache__
*.pyc
*.pkl
*.egg-info
.env
.vscode
.DS_Store
venv
build
dist
__pycache__/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.git
.gitignore
.github
*.ipynb
*.log
.DS_Store
